## Write

In [1]:
%reset -f 
import os
import pandas as pd

filename = "first.xlsx"
file_dir = "myfiles"

file_path = os.path.join(file_dir,filename)

df = pd.DataFrame([["ABC", "XYZ"]], columns=["Foo", "Bar"])  
with pd.ExcelWriter(file_path) as writer:
    df.to_excel(writer)

## Append Tab

In [2]:
from datetime import date, datetime
df = pd.DataFrame(
    [
        [date(2014, 1, 31), date(1999, 9, 24)],
        [datetime(1998, 5, 26, 23, 33, 4), datetime(2014, 2, 28, 13, 5, 13)],
    ],
    index=["Date", "Datetime"],
    columns=["X", "Y"],
)

with pd.ExcelWriter(file_path, mode="a", engine="openpyxl") as writer:
    df.to_excel(writer, sheet_name="dates_test")

## Read Tabs

In [8]:
df = pd.read_excel(file_path, index_col=0, sheet_name='Sheet1')
display(df)

   Foo  Bar
0  ABC  XYZ

In [9]:
df = pd.read_excel(file_path, index_col=0, sheet_name='dates_test')
display(df)

                           X                   Y
Date     2014-01-31 00:00:00 1999-09-24 00:00:00
Datetime 1998-05-26 23:33:04 2014-02-28 13:05:13

## Read Tab and Modify

In [10]:
df = pd.read_excel(file_path, index_col=0, sheet_name='Sheet1')
display(df)

   Foo  Bar
0  ABC  XYZ

In [31]:
tmp1 = df + df

tmp = ''.join([df[col][0] for col in df.columns])
data = [tmp, tmp[::-1]]
tmp2 = pd.DataFrame([data], columns=["Foo", "Bar"])

data = [i.lower() for i in df.iloc[0]]
tmp3 = pd.DataFrame([data], columns=["Foo", "Bar"])
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

frames = [df, tmp1, tmp2, tmp3]
    
result = pd.concat(frames)
display(result)

      Foo     Bar
0     ABC     XYZ
0  ABCABC  XYZXYZ
0  ABCXYZ  ZYXCBA
0     abc     xyz

In [32]:
with pd.ExcelWriter(file_path, mode="w") as writer:
    result.to_excel(writer, sheet_name="Sheet1")

In [33]:
# confirm overwritten data
pd.read_excel(file_path, index_col=0, sheet_name='Sheet1')

      Foo     Bar
0     ABC     XYZ
0  ABCABC  XYZXYZ
0  ABCXYZ  ZYXCBA
0     abc     xyz

## Cleanup Test Files

In [35]:
os.remove(file_path)